In [22]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [23]:
import pyspark

In [24]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [25]:
crimedata_schema = StructType([StructField('X', DoubleType(), True),
                     StructField('Y', DoubleType(), True),
                     StructField('RowID', IntegerType(), True),
                     StructField('CrimeDateTime', StringType(), True),
                     StructField('CrimeCode', StringType(), True),
                     StructField('Location', StringType(), True),
                     StructField('Description', StringType(), True),
                     StructField('InsideOutside', StringType(), True),
                     StructField('Weapon', StringType(), True),
                     StructField('Post', StringType(), True),
                     StructField('District', StringType(), True),
                     StructField('Neighborhood', StringType(), True),
                     StructField('Latitude', FloatType(), True),
                     StructField('Longitude', FloatType(), True),
                     StructField('GeoLocation', StringType(), True),
                     StructField('Premise', StringType(), True),
                     StructField('VRIName', StringType(), True),
                     StructField('TotalIncidents', IntegerType(), True)])

In [26]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('crime_data.com') \
                    .getOrCreate()

In [21]:
crimedata_df = spark.read.csv("Part1_Crime_data.csv", header=True, schema=crimedata_schema)

In [27]:
crimedata_df.cache

<bound method DataFrame.cache of DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, InsideOutside: string, Weapon: string, Post: string, District: string, Neighborhood: string, Latitude: float, Longitude: float, GeoLocation: string, Premise: string, VRIName: string, TotalIncidents: int]>

In [28]:
crimedata_df.count()

513158

In [29]:
crimedata_df.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- InsideOutside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- TotalIncidents: integer (nullable = true)

In [30]:
display(crimedata_df.head(5))

[Row(X=1420074.13302107, Y=594160.602354662, RowID=1, CrimeDateTime='2022/02/26 04:00:00+00', CrimeCode='4E', Location='200 W MONUMENT ST', Description='COMMON ASSAULT', InsideOutside=None, Weapon='NA', Post='124', District='CENTRAL', Neighborhood='MOUNT VERNON', Latitude=39.29750061035156, Longitude=-76.61930084228516, GeoLocation='(39.2975,-76.6193)', Premise=None, VRIName=None, TotalIncidents=1),
 Row(X=1411374.22509631, Y=589791.383964529, RowID=2, CrimeDateTime='2022/02/26 01:26:30+00', CrimeCode='9S', Location='2100 FREDERICK AVE', Description='SHOOTING', InsideOutside='Outside', Weapon='FIREARM', Post='835', District='SOUTHWEST', Neighborhood='CARROLLTON RIDGE', Latitude=39.28559875488281, Longitude=-76.65010070800781, GeoLocation='(39.2856,-76.6501)', Premise='COMMON BUSINESS', VRIName='Tri-District', TotalIncidents=1),
 Row(X=1411401.16887136, Y=582761.775193539, RowID=3, CrimeDateTime='2022/02/26 10:22:00+00', CrimeCode='4E', Location='2000 GRINNALDS AVE', Description='COMMON ASSAULT', InsideOutside=None, Weapon='NA', Post='831', District='SOUTHWEST', Neighborhood='MORRELL PARK', Latitude=39.266300201416016, Longitude=-76.65010070800781, GeoLocation='(39.2663,-76.6501)', Premise=None, VRIName=None, TotalIncidents=1),
 Row(X=1422663.14365552, Y=597595.359444412, RowID=4, CrimeDateTime='2022/02/26 01:11:00+00', CrimeCode='7A', Location='400 E OLIVER ST', Description='AUTO THEFT', InsideOutside=None, Weapon='NA', Post='313', District='EASTERN', Neighborhood='GREENMOUNT WEST', Latitude=39.30690002441406, Longitude=-76.61009979248047, GeoLocation='(39.3069,-76.6101)', Premise=None, VRIName=None, TotalIncidents=1),
 Row(X=1440496.49709374, Y=607767.144994879, RowID=5, CrimeDateTime='2022/02/26 12:30:00+00', CrimeCode='4B', Location='5300 PLAINFIELD AVE', Description='AGG. ASSAULT', InsideOutside=None, Weapon='KNIFE', Post='444', District='NORTHEAST', Neighborhood='FRANKFORD', Latitude=39.334598541259766, Longitude=-76.5468978881836, GeoLocation='(39.3346,-76.5469)', Premise=None, VRIName=None, TotalIncidents=1)]

1. What are distinct crime codes?

In [31]:
crimedata_df.select("CrimeCode").where(col("CrimeCode").isNotNull()).distinct().show(crimedata_df.count(),False)

+---------+
|CrimeCode|
+---------+
|3P       |
|3K       |
|3BJ      |
|1A       |
|3M       |
|5F       |
|4B       |
|3B       |
|7A       |
|3NF      |
|3EF      |
|3N       |
|5D       |
|6K       |
|3LO      |
|3AF      |
|7B       |
|3GO      |
|3AJF     |
|8GV      |
|8AO      |
|7C       |
|3AK      |
|3GK      |
|6L       |
|3EO      |
|3JO      |
|3F       |
|1K       |
|8H       |
|8CV      |
|8DO      |
|4C       |
|5A       |
|6C       |
|3NK      |
|3D       |
|6H       |
|3LK      |
|3AJK     |
|3CO      |
|3L       |
|4E       |
|8BV      |
|6D       |
|2A       |
|3C       |
|8I       |
|3NO      |
|3JF      |
|3E       |
|3LF      |
|1O       |
|8J       |
|3CK      |
|8BO      |
|2B       |
|3JK      |
|5B       |
|4A       |
|8GO      |
|8EV      |
|3CF      |
|8EO      |
|6G       |
|6A       |
|9S       |
|3EK      |
|8FV      |
|3GF      |
|8CO      |
|3H       |
|4D       |
|8FO      |
|6J       |
|6F       |
|6E       |
|3J       |
|5C       |
|5G       |
|8AV      |
|5E       |
|3AJO     |
|3AO      |
|6B       |
+---------+

2. Count the number of crimes by the crime codes and order by the resulting counts in descending order

In [32]:
(crimedata_df
 .select("CrimeCode")
 .groupBy("CrimeCode")
 .count()
 .orderBy("count", ascending=False)
 .show(n=crimedata_df.count()))

+---------+-----+
|CrimeCode|count|
+---------+-----+
|       4E|91650|
|       6D|68427|
|       5A|43928|
|       7A|40274|
|       6J|27636|
|       6G|26858|
|       6E|24300|
|       6C|23227|
|       4C|22438|
|       5D|14971|
|      3AF|14739|
|       4B|14460|
|       4A|13226|
|       3B|10737|
|       4D| 7232|
|       5B| 6475|
|       9S| 5443|
|       6F| 5081|
|       5C| 4917|
|       6B| 4106|
|      3CF| 3771|
|       2A| 3168|
|     3AJF| 3018|
|      3AK| 2982|
|       3K| 2833|
|       7C| 2725|
|       1A| 2624|
|      3AO| 2473|
|       5F| 2182|
|      3JF| 1815|
|       3D| 1432|
|       5E| 1419|
|       6L| 1205|
|       8H| 1051|
|       3P|  873|
|      3GF|  789|
|       6A|  781|
|      3BJ|  754|
|      3CK|  591|
|      3CO|  516|
|      3NF|  441|
|      3JK|  423|
|      8AO|  413|
|      3JO|  413|
|       2B|  355|
|       7B|  287|
|       8J|  279|
|       3H|  261|
|       1K|  230|
|     3AJO|  224|
|       6H|  222|
|       3J|  210|
|       1O|  191|
|      3EF|  176|
|       3N|  176|
|     3AJK|  172|
|      8FO|  154|
|      3GO|  131|
|       3M|  121|
|      8AV|  121|
|       3F|  120|
|      3NK|  120|
|      3GK|  116|
|      8BO|  104|
|      3LF|   97|
|      3NO|   83|
|      8EO|   77|
|       8I|   50|
|      3EO|   45|
|      3EK|   41|
|      3LO|   35|
|      8BV|   26|
|      8GO|   24|
|       5G|   21|
|      8CO|   13|
|      8EV|   10|
|      8FV|    9|
|      8GV|    7|
|      8CV|    7|
|       6K|    7|
|       3E|    6|
|      3LK|    5|
|       3C|    4|
|      8DO|    3|
|       3L|    1|
+---------+-----+

3. Which neighborhood had most crimes?

In [33]:
(crimedata_df
 .select("Neighborhood")
 .groupBy("Neighborhood")
 .count()
 .orderBy("count", ascending= False)
 .show(n=1))

+------------+-----+
|Neighborhood|count|
+------------+-----+
|    DOWNTOWN|17799|
+------------+-----+
only showing top 1 row

4. Which month of the year had most crimes?

In [34]:
crimedatanew_df = (crimedata_df
              .withColumn("CrimeMonth", month(to_timestamp(col("CrimeDateTime"), "yyyy/MM/dd HH:mm:ss+SSS")))
              .withColumn("CrimeMonthName", date_format(to_timestamp(col("CrimeDateTime"), "yyyy/MM/dd HH:mm:ss+SSS"),'MMM'))
              .withColumn("CrimeYear", year(to_timestamp(col("CrimeDateTime"), "yyyy/MM/dd HH:mm:ss+SSS")))
              .withColumn("CrimeDateTime", to_timestamp(col("CrimeDateTime"), "yyyy/MM/dd HH:mm:ss+SSS")))

In [35]:
crimedatanew_df.limit(5)

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: timestamp, CrimeCode: string, Location: string, Description: string, InsideOutside: string, Weapon: string, Post: string, District: string, Neighborhood: string, Latitude: float, Longitude: float, GeoLocation: string, Premise: string, VRIName: string, TotalIncidents: int, CrimeMonth: int, CrimeMonthName: string, CrimeYear: int]

In [36]:
(crimedatanew_df
 .select("CrimeMonthName")
 .groupBy("CrimeMonthName")
 .count()
 .orderBy("count", ascending=False)
 .show(n=1))

+--------------+-----+
|CrimeMonthName|count|
+--------------+-----+
|           Aug|46327|
+--------------+-----+
only showing top 1 row

5. What weapons were used?

In [37]:
crimedata_df.select("Weapon").where((col("Weapon") != 'NA')).distinct().show()

+-------+
| Weapon|
+-------+
|  HANDS|
|  KNIFE|
|  OTHER|
|   FIRE|
|FIREARM|
+-------+

6. Which weapon was used the most?

In [38]:
(crimedata_df
 .select("Weapon")
 .where((col("Weapon") != 'NA'))
 .groupBy("Weapon")
 .count()
 .orderBy("count", ascending=False)
 .show(n=1))

+-------+-----+
| Weapon|count|
+-------+-----+
|FIREARM|46139|
+-------+-----+
only showing top 1 row